<meta data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='training.edit'}" data-sly-unwrap></meta>
<div class="body_header header container_16">
		<div class="header_logo grid_8" data-sly-resource="${'logo' @ resourceType='training/components/logo'}"></div>
		<div class="header_topnav grid_8 search_area">
			<div>toptoolbar</div>

		</div>

   
<div class="content_topnav toptoolbar toolbar" data-sly-resource="${'topnav' @ resourceType='training/components/topnav'}"></div>

</div>
