<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    data-sly-call="${clientlib.all @ categories='demorc.base'}" data-sly-unwrap>
</meta>
<div class="navigation-bar">
  <div class="logo-container">
<img src="/content/dam/demorc/Royal-Cyber-Logo.svg" alt="">
  </div>
  <div class="drop-container">
    <div class="dropdown">
      <a href="/content/demorc/home/contact-us.html"><button class="dropbtn" style="cursor: pointer;">first </button></a>
      <div class="dropdown-content">

      </div>
      
    </div>
    <div class="dropdown">
       <a href="/content/demorc/home/contact-us.html"><button class="dropbtn" style="cursor: pointer;">second </button></a>
      <div class="dropdown-content">

      </div>
      
    </div>
    <div class="dropdown">
      <a href="/content/demorc/home/contact-us.html"><button class="dropbtn" style="cursor: pointer;">third </button></a>
      <!-- <div class="dropdown-content">

      </div> -->

    </div>
     <div class="dropdown">
     <a href="/content/institute/en/home-page/login.html" ><button class="dropbtn" style="cursor: pointer;"><i class="fa fa-user" aria-hidden="true"></i> </button>
     </a>
      <!-- <div class="dropdown-content">

      </div> -->

    </div>
    
   
</div>